@page
@model IndexModel
@{
    ViewData["Title"] = "Data";
    Models.RowModel rowEmpty = new Models.RowModel();
}

<div class="text-left">
    <h1 class="display-6">Data</h1>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Rows/EditForm" asp-route-RowID="-1">Add</a>
    <a asp-page-handler="DownloadReport" class="btn btn-secondary">Report</a>
</div>
<div>
    
    <table class="table">
        <tr>
            @* <td>
                @Html.DisplayNameFor(modelItem => rowEmpty.RowID)
            </td> *@
            <td>
                @Html.DisplayNameFor(modelItem => rowEmpty.FirstName)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => rowEmpty.LastName)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => rowEmpty.BirthDate)
            </td>
            <td>
                @Html.DisplayNameFor(modelItem => rowEmpty.Sex)
            </td>

            <td>
                Actions
            </td>
        </tr>
            @if (Model.RowsData != null && Model.RowsData.Count() > 0)
            {
                @foreach (var item in Model.RowsData)
                {
                    <tr>
                        @* <td>
                            @Html.DisplayFor(modelItem => item.RowID)
                        </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @(item.BirthDate.HasValue ? item.BirthDate.Value.ToShortDateString() : "Unknown")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>

                        <td>
                        <a class="btn btn-primary" asp-page="/Rows/EditForm" asp-route-RowID="@item.RowID">Edit</a>
                        <a class="btn btn-danger" asp-page="/Rows/DeleteConfirmation" asp-page-handler="Delete" asp-route-RowID="@item.RowID">Delete</a>
                        </td>
                    </tr>
                }
            }
        </table>
    
</div>